/* You can add global styles to this file, and also import other style files */
@import '../node_modules/tui-calendar/dist/tui-calendar.min.css';

.m-r-10{margin-right: 10px;}
.m-l-10{margin-left: 10px;}
.c-pointer{cursor: pointer;}